@model BoardgameGroup.Models.SpillerLoginSamler

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
@using (Html.BeginForm()) { 
    <fieldset>      


         <input type="submit" name="submit" value="Opprett konto" />

    </fieldset>    
}
